@model DemoVolunteer.Models.Post
<link rel="stylesheet" href="~/css/detail.css" />

<main>
    <div class="content">
        <div class="main-layer">
            <div class="l1">
                <img src="@Model.ImgURL" alt="img">
            </div>
            <div class="l2">
                <div class="text">
                    <h2>@Model.Title</h2>
                    <p><span class="hightlight">สถานที่:</span> @Model.Location </p>
                    <p><span class="hl-black">เวลาจัดกิจกรรม :</span> @Model.TimeStart.ToString("hh:mm น.") @Model.AppointmentDate.ToString("วันที่ dd MMMM yyyy", new System.Globalization.CultureInfo("th-TH")) เวลา
                         - @Model.TimeEnd.ToString("hh:mm น.") @Model.AppointmentDateArrive?.ToString("วันที่ dd MMMM yyyy", new System.Globalization.CultureInfo("th-TH"))</p>
                    <p><span class="hl-black">เวลาปิดโพสต์กิจกรรม :</span> @Model.AppointmentDateEnd?.ToString("dd MMMM yyyy", new System.Globalization.CultureInfo("th-TH"))<p>
                    <p><span class="hl-black">ได้รับชั่วโมงกิจกรรม :</span> <span class="hl-blue">@Model.Score ชม.</span></p>
                    <p><span class="hl-black">ประเภทกิจกรรม :</span> @Model.Category.Name</p>
                    <p><span class="hl-black">ผู้จัด :</span> @Model.Owner.FullName</p>
                    <p><span class="hl-black">ติดต่อผู้จัดกิจกรรม :</span> @Model.Owner.PhoneNumber</p>
                </div>
                <div class="button-box">
                    <form method="POST" asp-action="Join">
                        <input type="hidden" name="postId" value=@Model.PostId>
                        @if(Model.Status == "Open"){
                            <button class="btn join" type="submit">เข้าร่วมจิตอาสา</button>
                        }
                        else if(Model.Status == "Full"){
                            <button class="btn disabled" type="submit" style="background-color:orange" disabled>สมาชิกเต็ม</button>
                        }
                        else if(Model.Status == "Close"){
                            <button  class="btn disabled" type="submit" style="background-color:gray" disabled>ปิดการรับสมาชิก</button>
                        }
                        else if(Model.Status == "Expired"){
                            <button class="btn disabled" type="submit" style="background-color:red" disabled>โพสต์หมดอายุแล้ว</button>
                        }
                    </form>                    
                </div>
            </div>

            <div class="progress-container">
                <div class="progress-label" id="progressText">เปิดรับ @Model.Joins.Count/@Model.MaxParticipants ตำแหน่ง</div>
                <div class="progress-bar">
                    <div class="progress-fill" id="progressFill"></div>
                </div>
            </div>

            <div class="l3">
                <p><span class="hl-black">รายละเอียดกิจกรรม :</span></p>
                <p>@Model.Description</p>
            </div>
            <div class="l4">
                <h4>รูปภาพกิจกรรม</h4>
            </div>
            @if(Model.AppointImg != null){
                <div class="l5">
                    <img src="https://plus.unsplash.com/premium_photo-1667861381787-62809f85ce65?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwyOXx8fGVufDB8fHx8fA%3D%3D"
                    alt="img">
                </div>
            }
        </div>
    </div>
</main>


<script src="~/js/progress.js"></script>