@model List<DemoVolunteer.Models.Join>

<link rel="stylesheet" href="~/css/history_join.css">
<link rel="stylesheet" href="~/css/indexuser.css">
<link rel="stylesheet" href="~/css/style_global.css">

 <main>
    <div class="content-1">
        <div class="layer-1">
            <div class="profile">
                <img src="@ViewBag.Img"
                    alt="รูปโปรไฟล์">
            </div>
            <div class="description">
                <h2 style="font-size: 2rem; font-weight: 300;">@ViewBag.FullName</h2>
                <p style="color: #2E7CF3; font-weight: bold;">ข้อมูลติดต่อ</p>
                <p>เบอร์: @ViewBag.Phone</p>
                <p>อีเมล: @ViewBag.Email</p>
                <p style="color: #2E7CF3; font-weight: bold;">เวลาที่เคยทำจิตอาสา :</p>
                <p>@ViewBag.Score ชม.</p>
            </div>
        </div>
        <div class="layer-2">
            <table>

                <thead>
                    <th class="headtable" colspan="5">งานจิตอาสาที่เข้าร่วม</th>
                    <tr>
                        <th>สถานะ</th>
                        <th>งานอาสา</th>
                        <th>ชั่วโมง</th>
                        <th>วันที่จัดกิจกรรม</th>
                        <th>เวลาทำกิจกรรม</th>
                        <th>ยกเลิกกิจกรรม</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Join join in Model){
                        @if(join.Status == "InProgress"){
                            <tr>
                                <td class="status_activity wait">รอเข้าร่วมกิจกรรม</td>
                                <td><a asp-controller="POst" asp-action="Detail" asp-route-postId="@join.PostId">@join.Post.Title</a></td>
                                <td>@join.Post.Score</td>
                                <td>@join.Post.AppointmentDate.ToString("dd MMMM yyyy", ViewBag.thaiCulture) - @join.Post.AppointmentDateArrive?.ToString("dd MMMM yyyy", ViewBag.thaiCulture)</td>
                                <td>@join.Post.TimeStart.ToString("hh:mm น.", ViewBag.thaiCulture) - @join.Post.TimeEnd.ToString("hh:mm น.", ViewBag.thaiCulture)</td>
                                <form asp-action="JoinDel" asp-controller="Post" method="post">
                                    <input type="hidden" name="joinId" value="@join.JoinId">
                                    <td><button class="btn cancal" type="submit">ยกเลิก</button></td>
                                </form>
                                @* asp-controller="Post" asp-action="JoinDel" asp-route-joinId="@join.JoinId" *@
                            </tr>
                        }
                    }
                </tbody>
            </table>

            <table>
                <thead>
                    <th class="headtable" colspan="5">ประวัติจิตอาสาที่เข้าร่วม</th>
                    <tr>
                        <th>สถานะ</th>
                        <th>งานอาสา</th>
                        <th>ชั่วโมง</th>
                        <th>วันที่จัดกิจกรรม</th>
                        <th>เวลาทำกิจกรรม</th>
                    </tr>
                </thead>
                <tbody>
                    @* <tr>
                        <td class="status_activity done">เข้าร่วมกิจกรรมเสร็จสิ้น</td>
                        <td><a href="#">อาสาปลูกป่าชายเลน บางปู ...</a></td>
                        <td>5</td>
                        <td>09/พ.ย./2567 - 15/พ.ย./2567</td>
                        <td>08:30 - 15:30</td>
                    </tr> *@
                    @foreach (Join join in Model){
                        @if(join.Status == "Complete"){
                            <tr>
                                <td class="status_activity done">เข้าร่วมกิจกรรมเสร็จสิ้น</td>
                                <td><a asp-controller="POst" asp-action="Detail" asp-route-postId="@join.PostId">@join.Post.Title</a></td>
                                <td>@join.Post.Score</td>
                                <td>@join.Post.AppointmentDate.ToString("dd MMMM yyyy", ViewBag.thaiCulture) - @join.Post.AppointmentDateArrive?.ToString("dd MMMM yyyy", ViewBag.thaiCulture)</td>
                                <td>@join.Post.TimeStart.ToString("hh:mm น.", ViewBag.thaiCulture) - @join.Post.TimeEnd.ToString("hh:mm น.", ViewBag.thaiCulture)</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</main>

